<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		window.onload(function(){
			socket = io.connect('https://chat-socketio-test.herokuapp.com/')

			socket.on('connect', function() {
				socket.emit('my event', {
					data: 'Usuário conectado.'
				})
			})
		});

		socket.on('message', function(msg) {
			li = document.createElement("li")
			if(typeof msg.nome == 'undefined'){
				txt_node = document.createTextNode(msg.data)
			}else{
				txt_node = document.createTextNode(msg.nome + ' diz: ' + msg.texto)
			}
			li.appendChild(txt_node)
			document.getElementById("msgs").appendChild(li)
		})

		function enviar_mensagem(){
			texto_mensagem = document.getElementById("mensagem")
			texto_nome = document.getElementById("nome")
			socket.emit( 'my event', {
				nome: texto_nome.value,
				texto: texto_mensagem.value
			})
			texto_mensagem.value = ''
		}

		function atualiza_tamanho(){
			caracteres_restantes = document.getElementById("caracteres_restantes")
			limite = 300
			tamanho_texto = document.getElementById("mensagem").value.length
			total_restantes = limite - tamanho_texto
			caracteres_restantes.innerHTML = (total_restantes + " restantes").toString()
		}
	</script>
</head>
<body>
	<ul id="msgs"></ul>
	<input type="text" name="nome" placeholder="nome" id="nome"><br>
	<div style="width: 297px;">
		<textarea maxlength="300" rows="5" cols="40" name="mensagem" id="mensagem" placeholder="mensagem" onkeyup="atualiza_tamanho()" onkeydown="atualiza_tamanho()"></textarea><br>
		<font size="2" style="float: right;"><span id="caracteres_restantes">300 restantes</span></font><br>
	</div>
	<button id="enviar" onclick="enviar_mensagem(); atualiza_tamanho()">Enviar</button>
</body>
</html>